#reading-container{
  padding-top: 20px;
  width: 100%;
  height:calc( 100% - 20px);
  display: flex;
  justify-content: space-between;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.example-button-container button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color:#e8def9; /* Màu background */
  color:  #8069bf; /* Màu của biểu tượng */
  border: none;
  display: flex;
  box-shadow: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.example-button-container button:hover {
  background-color: #ccc2dc; /* Màu tím đậm hơn khi hover */
}

.reading-box {
  //padding-top: 1.5%;
  border: none;
  background-color: white;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  overflow: hidden; /* Ẩn phần nội dung tràn ra ngoài khung reading-box */
}
.content.title{
  padding: 10px;
  margin: 0;
  flex-grow: 1;
}
.content .title h4{
  margin-top: 10px;
  //margin-left: 10px;
  color:  #6750a4;
  font-weight: bold;
  font-size: 28px;
  word-spacing: -6px;
}
.content .title p{
  padding: 0;
  text-align: left;
  //margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  word-spacing: -4px;
}
.content {
  text-align: justify;
  height: 100%; /* Đặt chiều cao của nội dung bằng với khung chứa nó */
  overflow-y: scroll; /* Thêm thanh cuộn dọc nếu nội dung vượt quá chiều cao */
  padding-right: 20px; /* Thêm khoảng cách để tránh thanh cuộn chồng lên chữ */
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.content::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
.content h4{
  font-size: 18px;
  font-weight: 600;
  color: red;
  padding-left: 20px;
  word-spacing: -6px;
}
.content p {
  color: #0d1300;
  justify-content: center;
  padding-left: 20px;
  text-indent: 2em;
  font-weight: 450;
}



// Mobile S (320px)
@media only screen  and (max-width: 320px) {
  #reading-container{
    width: 100%;
    max-width: 320px;
    height: calc(100% - 20px);
  }
  .example-button-container {
    width: 50px;
  }
  .example-button-container button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#e8def9; /* Màu background */
    color:  #8069bf; /* Màu của biểu tượng */
    border: none;
    display: flex;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .reading-box{
    width: 100%;
    height: 100%;
  }
  .content .title h4 {
    font-size: 20px;
    padding-right: 0 ;
  }
  .content .title p {
    font-size: 10px;
  }
  .content h4{
    font-size: 14px;
    padding-left: 10px;
  }

  .content {
    font-size: 10px;
  }
}

// Mobile M (375px)
@media only screen and (max-width: 376px) and (min-width: 321px) {
  #reading-container{
    width: 100%;
    max-width: 376px;
    height: 100%;
  }
  .example-button-container {
    width: 60px;

    button {
      width: 30px;
      height: 30px;
    }
  }
  .reading-box{
    width: 100%;
    height: 100%;
  }

  .content .title h4 {
    font-size: 24px;
  }
  .content .title p {
    font-size: 12px;
  }
  .content h4{
    font-size: 16px;
    padding-left: 15px;
  }

  .content {
    font-size: 14px;
  }
}

// Mobile L (425px)
@media only screen and (max-width: 426px) and (min-width: 376px) {
  #reading-container{
    width: 100%;
    max-width: 425px;
    height: 100%;
  }
  .example-button-container {
    width: 60px;

    button {
      width: 40px;
      height: 40px;
    }
  }
  .reading-box{
    width: 100%;
    height: 100%;
  }

  .content .title h4 {
    font-size: 25px;
    word-spacing: -10px;
  }
  .content .title p {
    font-size: 13px;
  }
  .content h4{
    font-size: 17px;
  }
  .content {
    font-size: 15px;
  }
}


