// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "sass:map";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #22005d,
    20: #381e72,
    25: #432b7e,
    30: #4f378a,
    35: #5b4397,
    40: #6750a4,
    50: #8069bf,
    60: #9a83db,
    70: #b69df7,
    80: #cfbcff,
    90: #e9ddff,
    95: #f6eeff,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1e192b,
    20: #332d41,
    25: #3e384d,
    30: #4a4459,
    35: #564f65,
    40: #625b71,
    50: #7b738b,
    60: #958da5,
    70: #b0a7c0,
    80: #ccc2dc,
    90: #e8def9,
    95: #f6eeff,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #31101d,
    20: #4a2532,
    25: #56303d,
    30: #633b48,
    35: #704654,
    40: #7e5260,
    50: #996a78,
    60: #b58392,
    70: #d29dac,
    80: #efb8c8,
    90: #ffd9e3,
    95: #ffecf0,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0a0a0a,
    5: #111111,
    6: #171717,
    10: #1c1b1c,
    12: #212121,
    15: #262526,
    17: #2b2a2b,
    20: #313030,
    22: #363535,
    24: #3a3939,
    25: #3c3b3b,
    30: #484646,
    35: #545252,
    40: #605e5e,
    50: #797676,
    60: #939090,
    70: #adaaaa,
    80: #c9c6c5,
    87: #d6d3d2,
    90: #e5e1e1,
    92: #eae6e6,
    94: #efecec,
    95: #f4f0ef,
    96: #f8f4f3,
    98: #fdf8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1c1b1c,
    20: #313031,
    25: #3c3b3c,
    30: #484647,
    35: #545253,
    40: #605e5f,
    50: #797677,
    60: #939091,
    70: #aeaaab,
    80: #c9c5c6,
    90: #e6e1e2,
    95: #f4f0f0,
    98: #fdf8f9,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #930009,
    35: #a80710,
    40: #b91a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdbd6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

// Define the theme object.
$client-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      brand-family: "Noto Sans Mono",
      plain-family: "Noto Sans Mono",
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($client-theme);
  --mdc-chip-elevated-container-color: transparent;
  --primary: #65558f;
  --surfaceTint: #6750a4;
  --onPrimary: #ffffff;
  --primaryContainer: #eaddff;
  --onPrimaryContainer: #21005d;
  --secondary: #625b71;
  --onSecondary: #ffffff;
  --secondaryContainer: #e8def8;
  --onSecondaryContainer: #1d192b;
  --tertiary: #7d5260;
  --onTertiary: #ffffff;
  --tertiaryContainer: #ffd8e4;
  --onTertiaryContainer: #31111d;
  --error: #b3261e;
  --onError: #ffffff;
  --errorContainer: #f9dedc;
  --onErrorContainer: #410e0b;
  --background: #fef7ff;
  --onBackground: #1d1b20;
  --surface: #fef7ff;
  --onSurface: #1d1b20;
  --surfaceVariant: #e7e0ec;
  --onSurfaceVariant: #49454f;
  --outline: #79747e;
  --outlineVariant: #cac4d0;
  --shadow: #000000;
  --scrim: #000000;
  --inverseSurface: #322f35;
  --inverseOnSurface: #f5eff7;
  --inversePrimary: #d0bcff;
  --primaryFixed: #eaddff;
  --onPrimaryFixed: #21005d;
  --primaryFixedDim: #d0bcff;
  --onPrimaryFixedVariant: #4f378b;
  --secondaryFixed: #e8def8;
  --onSecondaryFixed: #1d192b;
  --secondaryFixedDim: #ccc2dc;
  --onSecondaryFixedVariant: #4a4458;
  --tertiaryFixed: #ffd8e4;
  --onTertiaryFixed: #31111d;
  --tertiaryFixedDim: #efb8c8;
  --onTertiaryFixedVariant: #633b48;
  --surfaceDim: #ded8e1;
  --surfaceBright: #fef7ff;
  --surfaceContainerLowest: #ffffff;
  --surfaceContainerLow: #f7f2fa;
  --surfaceContainer: #f3edf7;
  --surfaceContainerHigh: #ece6f0;
  --surfaceContainerHighest: #e6e0e9;
  --myBackground: #faf3f0;
}

@include mat.color-variants-backwards-compatibility($client-theme);
@include mat.typography-hierarchy($client-theme);
// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($client-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($client-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--background);
}

.mat-toolbar {
  font-weight: bold !important;
  background: var(--secondaryContainer) !important;
  color: var(--primary) !important;

  .mat-mdc-icon-button {
    color: var(--primary) !important;
  }

  .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    --mdc-text-button-label-text-color: var(--primary) !important;
    --mdc-outlined-button-label-text-color: var(--primary) !important;
  }
}

.mat-mdc-menu-panel {
  background-color: var(--surfaceContainer) !important;
  //color: var(--onS) !important;
}
