<div id="admin-container">
  @if (
    (isLoadingList$ | async) || (isAdding$ | async) || (isUpdating$ | async)
  ) {
    <div class="progress-bar-overlay">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  }
  <div id="admin-header">
    <div id="admin-header-button-grp">
      <div id="admin-header-button-grp-left-side">
        <button mat-icon-button (click)="navigate('/main')">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div id="admin-header-button-grp-right-side">
        <button mat-icon-button (click)="reload()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="openCreateEbookDialog()"
          [disabled]="selection.selected[0]"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="selection.selected.length == 0"
          (click)="openEditEbookDialog()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div id="admin-content">
    <mat-form-field id="filter-search">
      <mat-label>Bộ lọc</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ví dụ. Mia"
        #input
      />
    </mat-form-field>
    <cdk-virtual-scroll-viewport itemSize="100" class="viewport">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Image Url Column -->
          <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef>Ảnh bìa</th>
            <td mat-cell *matCellDef="let row">
              <img
                [src]="row.imageUrl"
                alt="Ebook Image"
                width="80"
                height="122"
              />
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tên</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef>Tác giả</th>
            <td mat-cell *matCellDef="let row">{{ row.author }}</td>
          </ng-container>

          <!-- Translator Column -->
          <ng-container matColumnDef="translator">
            <th mat-header-cell *matHeaderCellDef>Dịch giả</th>
            <td mat-cell *matCellDef="let row">{{ row.translator }}</td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Mô tả</th>
            <td mat-cell *matCellDef="let row" class="detail-cell">
              {{ row.description }}
            </td>
          </ng-container>

          <!-- Like Column -->
          <ng-container matColumnDef="like">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Lượt thích
            </th>
            <td mat-cell *matCellDef="let row">{{ row.like }}</td>
          </ng-container>

          <!-- View Column -->
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lượt xem</th>
            <td mat-cell *matCellDef="let row">{{ row.view }}</td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Thể loại</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-set aria-label="Category Chip" class="categories-cell">
                @for (genre of row.category; track $index) {
                  <mat-chip>{{ genre }}</mat-chip>
                }
              </mat-chip-set>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu nào</td>
          </tr>
        </table>
      </div>
    </cdk-virtual-scroll-viewport>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
