.admin-bar {
  width: 100%;
}

.bar-information {
  width: 80%;
  margin: 0 auto;
}

.bar-information input {
  width: 98.64%;
  padding: 10px;
  border: 1px solid #ccc;
}

.app-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.app-table th, .app-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.app-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

.app-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.app-table tr:hover {
  background-color: #f1f1f1;
}

.admin-table {
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
  background-color: var(--myBackground);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.admin-table th, .admin-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.admin-table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table tr:hover {
  background-color: #f1f1f1;
}

.admin-table tr:last-child td {
  border-bottom: none;
}

.search-bar-table{
  width: 100%;
  justify-content: space-between;
}

.buton-admin-table {
  display: flex;
  justify-content: space-between;
}

.buton-admin-table .mat-icon-button {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #9c27b0; /* Outer circle color */
}

.buton-admin-table .mat-icon-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-color: #e0e0e0; /* Inner circle color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.buton-admin-table .mat-icon-button .mat-icon {
  color: #9e9e9e; /* Plus sign color */
  position: relative;
  z-index: 1;
}
