<div id="login-container">
  @if (isLoadingSignIn) {
    <div class="loading-spinner-overlay">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  }
  <div id="login-box" class="mat-elevation-z4">
    <div id="left">
      <img src="/public/assets/login_background.jpg" alt="background" />
    </div>
    <div id="right">
      <img id="logo" src="public/assets/logo/logo-with-text-original.png" />
      <div class="text-grp">
        <h5 class="login-title">Thế giới truyện diệu kỳ.</h5>
        <h5 class="login-title">Chỉ với một chạm là sẽ mở ra!</h5>
      </div>
      <form [formGroup]="loginForm">
        <div id="form">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" />
            @if (loginForm.get("email")?.invalid) {
              <mat-error>Email không hợp lệ</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mật khẩu</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="Password"
              type="password"
              autocomplete="off"
            />
            @if (loginForm.get("password")?.invalid) {
              <mat-error>Mật khẩu không hợp lệ</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="btn-grp">
          <button
            mat-stroked-button
            color="primary"
            class="login"
            type="button"
            (click)="signInWithGoogle()"
          >
            <img src="/public/assets/logo/google_logo.png" id="google-logo" />
            Đăng Nhập với Google
          </button>
          <button
            mat-flat-button
            color="primary"
            class="login"
            (click)="signInWithStaticUser()"
            [disabled]="loginForm.invalid"
            type="submit"
          >
            Đăng Nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
