#login-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #login-box {
    height: 400px;
    width: 80%;
    max-width: 1080px;
    background: var(--surfaceContainerLowest);
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    padding: 20px;

    #left,
    #right {
      width: 50%;
      height: 100%;
      display: flex;
    }

    #left {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 28px;
        background-color: white;
      }
    }

    #right {
      flex-direction: column;
      justify-content: center;

      .text-grp,
      .btn-grp,
      #logo {
        width: calc(100% - 40px);
        padding: 20px;
        display: flex;
      }

      .text-grp {
        flex-direction: column;
        align-items: center;
      }

      #logo {
        height: auto;
      }

      .btn-grp {
        justify-content: space-between;

        #google-logo {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}

:host {
  ::ng-deep .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 1224px) {
  #login-container {
    flex-direction: column;
    padding: 10px;

    #login-box {
      width: 100%;
      height: auto;
      flex-direction: column;
      padding: 10px;

      #left,
      #right {
        width: 100%;
        height: auto;
      }

      #left {
        img {
          border-radius: 20px;
        }
      }

      #right {
        .text-grp,
        .btn-grp,
        #logo {
          width: 100%;
          padding: 10px;
        }

        .btn-grp {
          flex-direction: column;
          align-items: center;

          button {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
