<div id="login-container">
  <div id="login-Img">
    <img class="login-image" src="../public/assets/right.png" />
  </div>
  <div id="login-TL">
    <h1 class="login-title">Thế giới truyện diệu kỳ.</h1>
    <h2 class="login-title">Chỉ với một chạm là sẽ mở ra!</h2>
    <div class="example-button-row">
      <button mat-stroked-button color="primary" class="login">
        Đăng Nhập với Google
      </button>
      <button mat-flat-button color="primary" class="login">
        Đăng Nhập với Admin
      </button>
    </div>
  </div>
</div>
