#profile-container {
  width: 100%;
  height: 100%; /* Use viewport height to ensure it takes the full height of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Enable vertical scrolling */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

#profile-container::-webkit-scrollbar {
  display: none;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.card-container1 {
  width: calc(50% - 3em);
  min-width: 800px;
  max-width: 1000px;
  height: max-content;
  padding: 0 1.5em;
  border-radius: 28px;
  //overflow-y: auto;

  #card-name {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 5px;

    h4 {
      margin-bottom: 0;
    }
  }
}

#card-content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //overflow: hidden;
}

#left-card,
#right-card {
  display: flex;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  padding: 1em 0;
}

#left-card {
  gap: 10px;

  .example-button-row {
    display: none;
  }
}

#right-card {
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 1em;
  margin-bottom: auto;

  .top-right {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--inverseOnSurface);
    //border-top-right-radius: 16px;
    //border-bottom-right-radius: 16px;
    border-radius: 16px;

    .profile-image {
      height: 100%;
      width: 120px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .bot-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    p {
      //font-size: 1em;
      margin-top: 5px;
      display: -webkit-box;
      width: 100%;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .example-button-row {
      display: flex;
      width: 100%;
      margin-top: 1em;
      flex-direction: column;
      gap: 10px;
    }
  }
}

#preview {
  margin-top: 1em;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.custom-file-input {
  position: relative;
  display: inline-block;
  width: 100%;

  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .file-input-label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em;
    font-size: 0.945rem;
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 6px;
    box-sizing: border-box;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;
    text-align: center;
    justify-content: space-between;
  }

  .file-input-label:hover {
    border-color: rgba(0, 0, 0, 0.87);
  }

  .file-input-label:focus {
    border-color: #6750a4;
    outline: none;
    box-shadow: 0 0 0 2px rgba(103, 80, 164, 0.3);
  }

  .file-input-logo {
    display: flex;
    max-width: 20px;
  }
}

@media (max-width: 425px) {
  .card-container1 {
    border-radius: 0;

    #card-content {
      #right-card {
        display: none;
      }

      #left-card {
        width: 100%;

        .example-button-row {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          margin: 10px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 810px) {
  .card-container1 {
    min-width: 320px;
    width: 100%;
  }
}

/* Skeleton Container */
#skeleton-card-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-lighter);
}

#skeleton-card-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#skeleton-left-card,
#skeleton-right-card {
  display: flex;
  flex-direction: column;
}

#skeleton-left-card {
  flex: 1;
}

#skeleton-right-card {
  flex: 1;
  text-align: right; /* Aligns the text to the right */
}

/* Skeleton Blocks */
.skeleton-nickname,
.skeleton-email,
.skeleton-sdt,
.skeleton-avatar,
.skeleton-file,
.skeleton-right-nickname,
.skeleton-right-email,
.skeleton-right-sdt,
.skeleton-buttons-edit,
.skeleton-buttons-setting {
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Skeleton Sizes */
.skeleton-nickname {
  width: 60%;
  height: 24px;
}

.skeleton-email {
  width: 80%;
  height: 20px;
}

.skeleton-sdt {
  width: 70%;
  height: 20px;
}

.skeleton-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.skeleton-file {
  width: 50%;
  height: 35px;
}

.skeleton-right-nickname,
.skeleton-right-email,
.skeleton-right-sdt {
  width: 50%;
  height: 18px;
}

.skeleton-buttons-edit,
.skeleton-buttons-setting {
  width: 80px;
  height: 35px;
}

/* Loading Animation */
.skeleton-card-content::before,
.skeleton-nickname::before,
.skeleton-email::before,
.skeleton-sdt::before,
.skeleton-avatar::before,
.skeleton-file::before,
.skeleton-right-nickname::before,
.skeleton-right-email::before,
.skeleton-right-sdt::before,
.skeleton-buttons-edit::before,
.skeleton-buttons-setting::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
      to right,
      transparent 0%,
      #f0f0f0 50%,
      transparent 100%
  );
  animation: loading 1.5s infinite;
}

/* Keyframes for the loading animation */
@keyframes loading {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
