<div id="profile-container">
  @if (isUploadingAvatar) {
    <div class="loading-overlay">
      <mat-spinner></mat-spinner>
    </div>
  }
  <mat-card class="card-container1">
    <div id="card-name">
      <button mat-icon-button class="back-button" (click)="goBackToHome()">
        <mat-icon>home</mat-icon>
        <!--    Quay lại-->
      </button>
      <h4>Thông tin cá nhân</h4>
    </div>
    <div id="card-content">
      <form [formGroup]="profileForm" id="left-card">
        <mat-form-field appearance="outline">
          <mat-label>Nickname</mat-label>
          <input matInput placeholder="Tên người dùng" formControlName="name" />
          @if (profileForm.get("name")?.hasError("required")) {
            <mat-error> Tên người dùng không được để trống</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email người dùng"
            formControlName="email"
          />
          @if (profileForm.get("email")?.hasError("required")) {
            <mat-error> Email người dùng không được để trống</mat-error>
          }
          @if (profileForm.get("email")?.hasError("email")) {
            <mat-error> Email người dùng không hợp lệ</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Số điện thoại</mat-label>
          <input
            matInput
            placeholder="Số điện thoại người dùng"
            formControlName="phone"
            type="tel"
          />
          @if (profileForm.get("phone")?.hasError("required")) {
            <mat-error> Sđt người dùng không được để trống</mat-error>
          }
          @if (profileForm.get("phone")?.hasError("pattern")) {
            <mat-error> Sđt người dùng không hợp lệ</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ngày sinh</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            startView="year"
            [startAt]="startDate"
          ></mat-datepicker>
          @if (profileForm.get("dob")?.hasError("required")) {
            <mat-error> Ngày sinh người dùng không được để trống</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Avatar Url</mat-label>
          <input
            matInput
            placeholder="Avatar người dùng"
            formControlName="avatar"
          />
          @if (profileForm.get("avatar")?.hasError("required")) {
            <mat-error> Avatar url không được để trống</mat-error>
          }
        </mat-form-field>

        <div class="custom-file-input">
          <input
            type="file"
            accept="image/*"
            id="fileInput"
            (change)="onFileSelected($event)"
          />
          <label for="fileInput" class="file-input-label">
            Đăng tải ảnh từ máy
            <img
              src="../public/assets/upploadImg.png"
              alt="Logo"
              class="file-input-logo"
            />
          </label>
        </div>

        <div class="example-button-row">
          <button
            mat-flat-button
            class="btn-setting"
            [disabled]="profileForm.invalid"
            (click)="openConfirmUpdateDialog()"
          >
            <mat-icon>edit</mat-icon>
            Cập nhật hồ sơ
          </button>
          <button
            mat-stroked-button
            class="btn-admin"
            [routerLink]="['/main/admin']"
          >
            <mat-icon>admin_panel_settings</mat-icon>
            Admin
          </button>
        </div>
      </form>
      <div id="right-card">
        <div class="top-right">
          <img
            src="../public/assets/29.png"
            alt="Profile Image"
            class="profile-image"
          />
        </div>
        <div class="bot-right">
          <p>
            Tên: <b> {{ profileForm.get("name")?.value }}</b>
          </p>
          <p>
            Email: <b>{{ profileForm.get("email")?.value }}</b>
          </p>
          <p>
            Ngày sinh: {{ profileForm.get("dob")?.value | date: "shortDate" }}
          </p>
          <p>Số điện thoại: +{{ profileForm.get("phone")?.value }}</p>

          <div class="example-button-row">
            <button
              mat-flat-button
              class="btn-setting"
              [disabled]="profileForm.invalid"
              (click)="openConfirmUpdateDialog()"
            >
              <mat-icon>edit</mat-icon>
              Cập nhật hồ sơ
            </button>
            <button
              mat-stroked-button
              class="btn-admin"
              [routerLink]="['/main/admin']"
            >
              <mat-icon>admin_panel_settings</mat-icon>
              Admin
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
