<div id="categories-container">
  <div class="categories-header">
    <button
      mat-icon-button
      aria-label="Example icon button with a arrow_back icon"
      [routerLink]="'/main'"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h4 id="categories-header-name">{{ headerName }}</h4>
  </div>

  <div class="genre">
    <p>Thể loại:</p>

    @if (isLoading) {
      <div class="loading-genre">
        <mat-spinner [diameter]="24"></mat-spinner>
        <!--diameter = 24: set kích thước = 24px-->
      </div>
    }

    @if (error) {
      <div class="error">{{ error }}</div>
    }

    @if (!isLoading && !error) {
      <mat-chip-listbox aria-label="category list">
        <mat-chip-option *ngFor="let type of genre; trackBy: trackByFn">
          {{ type.name }}
        </mat-chip-option>
      </mat-chip-listbox>
    }
  </div>

  <div class="book">
    @for (ebook of ebooks; track ebook) {
      <app-ebook-card [ebook]="ebook"></app-ebook-card>
    }
  </div>
</div>
