#categories-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed from space-evenly to flex-start */

  .categories-header {
    display: flex;
    align-items: center;
    width: 90%;
    height: fit-content;
    padding: 10px 0;

    h4 {
      color: var(--primary);
      margin: 0;
    }
  }

  .genre {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    min-height: 120px;
    width: calc(90% - 20px);
    padding: 10px;
    border-bottom: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    p {
      width: 180px;
    }

    .loading-genre {
      display: flex;
      margin: auto;
    }
  }

  .genre::-webkit-scrollbar {
    display: none;
  }

  .book {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    width: 90%;
    display: grid;
    padding: 20px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-content: start; /* Changed from center to start */
    flex-grow: 1; /* Added to allow the book section to take remaining space */

    app-ebook-card {
      width: 150px;
      height: 200px;
      margin-bottom: 60px;
      align-self: center;
      justify-self: center;
    }
  }

  .book::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  #categories-container {
    .categories-header {
      align-items: center;
    }

    .genre {
      p {
        display: none;
      }
    }

    .book {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}

@media (min-width: 2560px) {
  #categories-container {
    .book {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

.error {
  color: var(--error);
  align-items: center;
  justify-content: center;
}
