#categories-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.arrow-icon {
  font-size: 32px;
  align-items: center;
}

.arrow-icon:hover {
  cursor: pointer;
}

mat-icon {
  font-size: 36px;
  color: var(--primary);
  display: inline-block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.mat-icon:hover {
  color: var(--onPrimary);
  background-color: var(--primary);
}


h1 {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 8px;
}

.genre {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  width: 1280px;
  height: 32px;
}

.list-genre {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 7px;
}

.book {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 20px;
}

.book app-ebook-card {
  width: 145px;
  height: 196px;
  margin-bottom: 60px;
}

//:host {
//  ::ng-deep .cdk-virtual-scroll-data-source-example .example-viewport {
//    height: 308px;
//    width: 100%;
//  }
//
//  ::ng-deep
//    .cdk-virtual-scroll-data-source-example
//    .example-viewport
//    .cdk-virtual-scroll-content-wrapper {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-evenly;
//    //padding: 0 10px;
//  }
//
//  ::ng-deep .cdk-virtual-scroll-data-source-example .example-item {
//    width: 145px;
//    height: 100%;
//    margin: 0 10px;
//  }
//}
