<mat-toolbar class="mat-elevation-z0">
  <img
    src="../../../../public/assets/logo/logo-with-text-original.png"
    alt="logo"
    height="42"
    width="303"
    id="logo-with-text"
    [routerLink]="'/main'"
  />
  <img
    src="../../../../public/assets/logo/logo-original.png"
    alt="logo"
    height="64"
    width="64"
    id="logo"
    [routerLink]="'/main'"
  />

  <span class="example-spacer"></span>
  <mat-form-field
    appearance="fill"
    id="search-input"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search your book..." />
  </mat-form-field>
  <mat-menu #menu xPosition="before">
    <ng-template matMenuContent>
      @for (ebook of ebooks; track ebook) {
        <button mat-menu-item>
          <div class="result-item">
            <img
              width="40"
              height="40"
              [src]="ebook.imageUrl"
              alt="ebook cover"
            />
            <div class="name-author">
              <span>
                <b>{{ ebook.name }}</b>
              </span>
              <span>
                {{ ebook.author }}
              </span>
            </div>
          </div>
        </button>
      }
    </ng-template>
  </mat-menu>

  <div id="avatar">
    <mat-icon [matMenuTriggerFor]="avaMenu">account_circle</mat-icon>
    <mat-menu #avaMenu="matMenu">
      <button mat-menu-item (click)="navigateToProfile()">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="openConfirmLogoutDialog()">
        <mat-icon>logout</mat-icon>
        Sign out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
