<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <mat-form-field appearance="fill" id="search-input">
    <mat-icon matPrefix>search</mat-icon>
    <!--    <mat-label>Fill form field</mat-label>-->
    <input matInput placeholder="Search your book..." />
    <!--    <mat-hint>Hint</mat-hint>-->
  </mat-form-field>
  <!--  <button-->
  <!--    mat-icon-button-->
  <!--    class="example-icon person-icon"-->
  <!--    aria-label="Example icon-button with person icon"-->
  <!--  >-->
  <!--   -->
  <!--  </button>-->
  <div id="avatar">
    <mat-icon>account_circle</mat-icon>
  </div>
</mat-toolbar>
