.example-spacer {
  flex: 1 1 auto;
}

#search-input {
  height: 50px;
  width: 300px;
  margin-right: 15px;
}

#avatar {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  cursor: pointer;

  mat-icon {
    font-size: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  mat-icon:hover {
    color: var(--primary);
    background: var(--onPrimary);
  }
}

:host {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper,
  .mdc-text-field,
  .mdc-text-field--filled {
    border-radius: 100px;
    border: none;

    .mdc-line-ripple {
      display: none;
    }
  }

  ::ng-deep .mat-mdc-form-field-flex,
  .mat-mdc-form-field-infix {
    height: 100%;
  }

  ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 14px 0;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: var(--background);
  }
}
