<mat-toolbar class="mat-elevation-z0">
  <img
    [src]="'../../../../public/assets/logo/logo-with-text-original.png'"
    alt="logo"
    height="42"
    width="303"
    id="logo-with-text"
    [routerLink]="'/main'"
  />
  <img
    [src]="'../../../../public/assets/logo/logo-original.png'"
    alt="logo"
    height="64"
    width="64"
    id="logo"
    [routerLink]="'/main'"
  />

  <span class="example-spacer"></span>
  <mat-form-field appearance="fill" id="search-input">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      placeholder="Search your book..."
      [formControl]="searchControl"
      #searchInput
    />
  </mat-form-field>
  @if (showDropdown) {
    <div class="dropdown" #dropdown>
      @for (ebook of ebooks; track ebook) {
        <div class="dropdown-item">
          <img
            width="40"
            height="40"
            [src]="ebook.imageUrl"
            alt="ebook cover"
          />
          <div class="name-author">
            <span class="name"
              ><b>{{ ebook.name }}</b></span
            >

            <span class="author">{{ ebook.author }}</span>
          </div>
        </div>
      }
    </div>
  }

  <div id="avatar">
    <mat-icon [matMenuTriggerFor]="avaMenu">account_circle</mat-icon>
    <mat-menu #avaMenu="matMenu">
      <button mat-menu-item (click)="navigateToProfile()">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="openConfirmLogoutDialog()">
        <mat-icon>logout</mat-icon>
        Sign out
      </button>
    </mat-menu>
    @if (authService.currentUser) {
      <img [src]="authService.currentUser.photoURL" alt="" />
    }
  </div>
</mat-toolbar>
