.example-spacer {
  flex: 1 1 auto;
}

#logo-with-text,
#logo {
  cursor: pointer;
}

#logo-with-text {
  max-width: 303px;
  max-height: 42px;
  object-fit: cover;
}

#logo {
  display: none;
}

#search-input {
  height: 50px;
  width: 300px;
  margin-right: 15px;
}

#avatar {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  cursor: pointer;

  mat-icon {
    font-size: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  mat-icon:hover {
    color: var(--onPrimary);
    background: var(--primary);
  }
}

.dropdown {
  border-radius: 16px;
  position: absolute;
  background: var(--surfaceContainerLowest);
  overflow-y: auto;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  max-height: 300px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;

  .dropdown-item {
    height: 60px;
    display: flex;
    align-items: center;
    width: calc(100% - 16px);
    padding: 8px;
    cursor: pointer;

    .name-author {
      font-size: 14px;
      line-height: normal;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      font-weight: 500;
      width: calc(100% - 10px - 40px);
    }

    .name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    img {
      border-radius: 8px;
    }
  }
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.dropdown-item:hover {
  background-color: var(--inverseOnSurface);
}

:host {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper,
  .mdc-text-field,
  .mdc-text-field--filled {
    border-radius: 100px;
    border: none;

    .mdc-line-ripple {
      display: none;
    }
  }

  ::ng-deep .mat-mdc-form-field-flex,
  .mat-mdc-form-field-infix {
    height: 100%;
  }

  ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 14px 0;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: var(--background);
  }
}

@media only screen and (max-width: 720px) {
  #logo-with-text {
    display: none;
  }
  #logo {
    display: block;
  }
}
