<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="isAllSelected()"
                      [indeterminate]="isIndeterminate()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? element.selected = !element.selected : null"
                      [checked]="element.selected">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Tên Sách </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Tác giả </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <!-- Post Date Column -->
    <ng-container matColumnDef="postDate">
      <th mat-header-cell *matHeaderCellDef> Ngày đăng </th>
      <td mat-cell *matCellDef="let element"> {{element.postDate}} </td>
    </ng-container>

    <!-- Reads Column -->
    <ng-container matColumnDef="reads">
      <th mat-header-cell *matHeaderCellDef> Lượt đọc </th>
      <td mat-cell *matCellDef="let element"> {{element.reads}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> mô tả </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons
                 aria-label="Select page of posts">
  </mat-paginator>
</div>
