<div id="home-container">
  <div class="content">
    <div class="category-header">
      <h4>Lịch sử</h4>
      <a class="see-more" [routerLink]="['/main/categories/history']"
        >Xem thêm</a
      >
    </div>
    @if (findListUserHistoryLoading$ | async) {
      <mat-progress-spinner
        class="example-margin"
        mode="indeterminate"
      ></mat-progress-spinner>
    } @else {
      <div class="cdk-virtual-scroll-data-source-example">
        <cdk-virtual-scroll-viewport
          orientation="horizontal"
          itemSize="50"
          class="example-viewport"
        >
          @if (historyList.length == 0) {
            <div class="example-item">
              <p>Không có dữ liệu</p>
            </div>
          } @else {
            <div *cdkVirtualFor="let ebook of historyList" class="example-item">
              <app-ebook-card [ebook]="ebook"></app-ebook-card>
            </div>
          }
        </cdk-virtual-scroll-viewport>
      </div>
    }
  </div>
  <hr />
  <div class="content">
    <div class="category-header">
      <h4>Thịnh hành</h4>
      <a class="see-more" [routerLink]="['/main/categories/trends']"
        >Xem thêm</a
      >
    </div>
    @if (isLoadingTrending$ | async) {
      <mat-progress-spinner
        class="example-margin"
        mode="indeterminate"
      ></mat-progress-spinner>
    } @else {
      <div class="cdk-virtual-scroll-data-source-example">
        <cdk-virtual-scroll-viewport
          orientation="horizontal"
          itemSize="50"
          class="example-viewport"
        >
          @if (trendingList.length == 0) {
            <div class="example-item">
              <p>Không có dữ liệu</p>
            </div>
          } @else {
            <div
              *cdkVirtualFor="let ebook of trendingList"
              class="example-item"
            >
              <app-ebook-card [ebook]="ebook"></app-ebook-card>
            </div>
          }
        </cdk-virtual-scroll-viewport>
      </div>
    }
  </div>
  <hr />
  <div class="content">
    <div class="category-header">
      <h4>Đề xuất</h4>
      <a class="see-more" [routerLink]="['/main/categories/recommend']"
        >Xem thêm</a
      >
    </div>
    <div class="cdk-virtual-scroll-data-source-example">
      @if (isLoadingRecommended$ | async) {
        <mat-progress-spinner
          class="example-margin"
          mode="indeterminate"
        ></mat-progress-spinner>
      } @else {
        <cdk-virtual-scroll-viewport
          orientation="horizontal"
          itemSize="50"
          class="example-viewport"
        >
          @if (recommendedList.length == 0) {
            <div class="example-item">
              <p>Không có dữ liệu</p>
            </div>
          } @else {
            <div
              *cdkVirtualFor="let ebook of recommendedList"
              class="example-item"
            >
              <app-ebook-card [ebook]="ebook"></app-ebook-card>
            </div>
          }
        </cdk-virtual-scroll-viewport>
      }
    </div>
  </div>
  <hr />
  <div class="content">
    <div class="category-header">
      <h4>Bảng xếp hạng</h4>
      <a class="see-more" [routerLink]="['/main/categories/rank']">Xem thêm</a>
    </div>
    <div class="cdk-virtual-scroll-data-source-example">
      @if (isLoadingRating$ | async) {
        <mat-progress-spinner
          class="example-margin"
          mode="indeterminate"
        ></mat-progress-spinner>
      } @else {
        <cdk-virtual-scroll-viewport
          orientation="horizontal"
          itemSize="50"
          class="example-viewport"
        >
          @if (ratingList.length == 0) {
            <div class="example-item">
              <p>Không có dữ liệu</p>
            </div>
          } @else {
            <div *cdkVirtualFor="let ebook of ratingList" class="example-item">
              <app-ebook-card [ebook]="ebook"></app-ebook-card>
            </div>
          }
        </cdk-virtual-scroll-viewport>
      }
    </div>
  </div>
</div>
