<div id="home-container">
  <div class="content">
    <div class="category-header">
      <h4>Lịch sử</h4>
      <a class="see-more" [routerLink]="['/main/home/categories']">Xem thêm</a>
    </div>

    <div class="cdk-virtual-scroll-data-source-example">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="50"
        class="example-viewport"
      >
        <div *cdkVirtualFor="let ebook of ebooks" class="example-item">
          <app-ebook-card [ebook]="ebook"></app-ebook-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <hr />
  <div class="content">
    <div class="category-header">
      <h4>Thịnh hành</h4>
      <a class="see-more" routerLink="">Xem thêm</a>
    </div>
    <div class="cdk-virtual-scroll-data-source-example">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="50"
        class="example-viewport"
      >
        <div *cdkVirtualFor="let ebook of ebooks" class="example-item">
          <app-ebook-card [ebook]="ebook"></app-ebook-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <hr />
  <div class="content">
    <div class="category-header">
      <h4>Đề xuất</h4>
      <a class="see-more" routerLink="">Xem thêm</a>
    </div>
    <div class="cdk-virtual-scroll-data-source-example">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="50"
        class="example-viewport"
      >
        <div *cdkVirtualFor="let ebook of ebooks" class="example-item">
          <app-ebook-card [ebook]="ebook"></app-ebook-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <hr />
  <div class="content">
    <div class="category-header">
      <h4>Bảng xếp hạng</h4>
      <a class="see-more" routerLink="">Xem thêm</a>
    </div>
    <div class="cdk-virtual-scroll-data-source-example">
      <cdk-virtual-scroll-viewport
        orientation="horizontal"
        itemSize="50"
        class="example-viewport"
      >
        <div *cdkVirtualFor="let ebook of ebooks" class="example-item">
          <app-ebook-card [ebook]="ebook"></app-ebook-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
