@if (isLoading) {
  <div class="skeleton-container">
    <div class="skeleton-header"></div>
    <div class="skeleton-body">
      <div class="skeleton-image"></div>
      <div class="skeleton-info">
        <div class="skeleton-title"></div>
        <div class="skeleton-author"></div>
        <div class="skeleton-rating"></div>
        <div class="skeleton-view"></div>
        <div class="skeleton-tags"></div>
        <div class="skeleton-buttons"></div>
      </div>
    </div>
    <div class="skeleton-novel-body-container">
      <div class="skeleton-description">
        <div class="skeleton-introduce"></div>
        <div class="skeleton-description-container">
          <div class="skeleton-paragraph"></div>
          <div class="skeleton-paragraph"></div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div id="book-info-container">
    <!-- Back Button -->
    <button mat-icon-button class="back-button" (click)="goBackToHome()">
      <mat-icon>home</mat-icon>
      <!--    Quay lại-->
    </button>
    <div id="header-content">
      <div id="image-background">
        <img
          [src]="
            '../public/assets/harry_potter_va_hon_da_phu_thuy__j_k_rowling%203.png'
          "
          alt="harry potter"
        />
        <div class="image-shade"></div>
      </div>
      <div class="book-info">
        <div id="fix-img">
          <figure id="cover">
            <img
              [src]="
                '../public/assets/harry_potter_va_hon_da_phu_thuy__j_k_rowling%203.png'
              "
              alt="harr potter"
            />
          </figure>
        </div>

        <div id="info">
          <h6 class="title">Harry Potter và Hòn Đá Phù Thủy</h6>
          <p class="author">Tác giả: J.K. ROWLING</p>
          <div class="rating">
            <p>Lượt yêu thích: 5</p>
          </div>
          <div class="view">
            <p>Lượt xem: 2024</p>
          </div>
          <div class="tags">
            <mat-chip-set aria-label="Category selection">
              @for (genre of genres; track $index) {
                @if ($index < 10) {
                  <mat-chip>{{ genre }}</mat-chip>
                }
              }
            </mat-chip-set>
          </div>
          <div class="button-row">
            <button mat-flat-button (click)="read()">Đọc</button>
            <!--          <button mat-flat-button (click)="read()">Đọc tiếp</button>-->
          </div>
          <div class="button-row">
            <button
              mat-flat-button
              (click)="openSnackBar('Đã thêm vào yêu thích', 'Đóng')"
            >
              <mat-icon>favorite</mat-icon>
              Yêu thích
            </button>
          </div>
        </div>
      </div>
    </div>

    @if (isMobileView) {
      <div id="skeleton-header-content-mobile">
        <div class="skeleton-image-shade">
          <figure class="skeleton-cover"></figure>
        </div>
        <div class="skeleton-book-info-mobile">
          <div class="skeleton-title-mobile"></div>
          <div class="skeleton-author-mobile"></div>
          <div class="skeleton-rating-mobile"></div>
          <div class="skeleton-view-mobile"></div>
        </div>
      </div>
      <div class="skeleton-buttons-mobile"></div>
      <div class="skeleton-tags-mobile"></div>
    } @else {
      <!--  mobile-->
      <div id="header-content-mobile">
        <div class="image-shade">
          <figure class="cover">
            <img
              [src]="
                '../public/assets/harry_potter_va_hon_da_phu_thuy__j_k_rowling%203.png'
              "
              alt="harry potter"
            />
          </figure>
        </div>
        <div class="book-info-mobile">
          <h6>Harry Potter và Hòn Đá Phù Thủy</h6>
          <p>Tác giả: J.K. ROWLING</p>
          <p>Lượt yêu thích: 5</p>
          <p>Lượt xem: 2024</p>
        </div>
      </div>
      <button
        mat-stroked-button
        class="btn-mobile"
        (click)="openSnackBar('Đã thêm vào yêu thích', 'Đóng')"
      >
        <mat-icon>favorite</mat-icon>
        Yêu thích
      </button>
      <button mat-flat-button class="btn-mobile" (click)="read()">
        <mat-icon>book_2</mat-icon>
        Đọc
      </button>

      <p class="type-mobile">Thể loại</p>
      <div class="tags-mobile">
        <mat-chip-set aria-label="Category selection">
          @for (genre of genres; track $index) {
            <mat-chip class="secondary-chips">{{ genre }}</mat-chip>
          }
        </mat-chip-set>
      </div>
      <!--  mobile-->
    }

    <div id="novel-body-container">
      <div class="description">
        <div id="introduce">
          <h6>Giới Thiệu</h6>
        </div>

        <div id="description-container">
          <p>
            Câu chuyện bắt đầu bằng những biến cố kỳ lạ khi Harry vừa đúng mười
            một tuổi, được gọi là nhập học trường chuyên đào tạo phù thủy và
            pháp sư. Năng lực siêu phàm của Harry bộc phát, lại được học hỏi
            thêm nhiều pháp thuật cao cường ờ nhà trường Hogwarts, Harry trải
            qua những cuộc thử thách và phiêu lưu kỳ lạ, phát triển dần tài năng
            và tính cách, vượt qua những sai lầm và khuyết điểm, đạt dược những
            thành tích vang dội cho đội và trường của mình.
          </p>

          <p>
            Nhưng lão phù thủy Voldemort, kẻ đã giết cha mẹ Harry Potter và toan
            giết cả cậu bé, lại tái xuất hiện. Những thế lực hắc ám dựa hơi lão
            lại trổi lên đe doạ thế giới lương thiện, hồn nhiên. Harry Potter
            trở thành người anh hùng nhỏ tuổi dũng cảm và tài giỏi, được những
            người hiền lương tin cậy, ủng hộ trong cuộc chiến dằn dai chống lại
            thế lực hắc ám.Cũng như cậu bé bay Peter Pan, hay Alice ở xứ sở thần
            tiên, hay siêu nhân, Harry Potter giúp chúng ta mở rộng trí tưởng
            tượng, thỏa mãn lịng mong muốn sáng tạo, bay nhảy hành hiệp, khẳng
            định những giá trị nhân bản và và bảo vệ chân lý. Harry Potter là
            một Tơn Ngộ Khơng kiểu Anh của thế giới cơng nghiệp hiện đại. Cũng
            như Ngộ Khơng, Harry Potter hào hiệp, khẳng khái, thơng minh đến
            tinh quái, hiếu kỳ, hiếu học, kính thầy, yêu bạn, căm ghét thế lực
            hắc ám.
          </p>
        </div>
      </div>
    </div>
  </div>
}
