@if (isLoadingDetail$ | async) {
  <div class="skeleton-container">
    <div class="skeleton-header">
      <div class="skeleton-body">
        <div class="skeleton-image"></div>
        <div class="skeleton-info">
          <div class="skeleton-title"></div>
          <div class="skeleton-author"></div>
          <div class="skeleton-rating"></div>
          <div class="skeleton-view"></div>
          <div class="skeleton-tags">
            @for (tag of skeletonTags; track tag) {
              <div class="'skeleton-tag-'+tag"></div>
            }
          </div>
          <div class="skeleton-buttons-read"></div>
          <div class="skeleton-buttons-favorite"></div>
        </div>
      </div>
    </div>
    <!--  mobile-->
    <div id="skeleton-header-content-mobile">
      <div class="skeleton-title-mobile"></div>
      <div class="skeleton-author-mobile"></div>
      <div class="skeleton-rating-mobile"></div>
      <div class="skeleton-view-mobile"></div>
    </div>
    <div class="skeleton-buttons-mobile"></div>
    <div class="skeleton-tags-mobile"></div>
    <div class="skeleton-paragraph-mobile"></div>
    <!--  mobile-->

    <div class="skeleton-novel-body-container">
      <div class="skeleton-description">
        <div class="skeleton-introduce"></div>
        <div class="skeleton-description-container">
          <div class="skeleton-paragraph"></div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div id="book-info-container">
    <!-- Back Button -->
    <button mat-icon-button class="back-button" (click)="goBackToHome()">
      <mat-icon>home</mat-icon>
      <!--    Quay lại-->
    </button>
    <div id="header-content">
      <div id="image-background">
        <img
          [src]="(selectedEbook$ | async)?.imageUrl"
          [alt]="(selectedEbook$ | async)?.name"
        />
        <div class="image-shade"></div>
      </div>
      <div class="book-info">
        <div id="fix-img">
          <figure id="cover">
            <img
              [src]="(selectedEbook$ | async)?.imageUrl"
              [alt]="(selectedEbook$ | async)?.name"
            />
          </figure>
        </div>

        <div id="info">
          <h6 class="title">{{ (selectedEbook$ | async)?.name }}</h6>
          <p class="author">Tác giả: {{ (selectedEbook$ | async)?.author }}</p>
          <div class="rating">
            <p>Lượt yêu thích: {{ (selectedEbook$ | async)?.like }}</p>
          </div>
          <div class="view">
            <p>Lượt xem: {{ (selectedEbook$ | async)?.view }}</p>
          </div>
          <div class="tags">
            <mat-chip-set aria-label="Category selection">
              @for (
                genre of (selectedEbook$ | async)?.categories;
                track $index
              ) {
                @if ($index < 10) {
                  <mat-chip>{{ genre.name }}</mat-chip>
                }
              }
            </mat-chip-set>
          </div>
          <div class="button-row">
            <button  mat-flat-button (click)="read()">Đọc</button>
            <!--          <button mat-flat-button (click)="read()">Đọc tiếp</button>-->
          </div>
          <div class="button-row">
            <button class="favorite" mat-flat-button (click)="addToFavorites()" [hidden]="isFavorite">
              <mat-icon>favorite</mat-icon>
              Yêu thích
            </button>
            <button class="un-favorite" mat-flat-button (click)="removeFromFavorites()" [hidden]="!isFavorite">
              <mat-icon>favorite_border</mat-icon>
              Bỏ yêu thích
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--  mobile-->
    <div id="header-content-mobile">
      <div class="image-shade">
        <figure class="cover">
          <img
            [src]="(selectedEbook$ | async)?.imageUrl"
            [alt]="(selectedEbook$ | async)?.name"
          />
        </figure>
      </div>
      <div class="book-info-mobile">
        <h6>{{ (selectedEbook$ | async)?.name }}</h6>
        <p>Tác giả: {{ (selectedEbook$ | async)?.author }}</p>
        <p>Lượt yêu thích: {{ (selectedEbook$ | async)?.like }}</p>
        <p>Lượt xem: {{ (selectedEbook$ | async)?.view }}</p>
      </div>
    </div>
    <button
      mat-stroked-button
      class="btn-mobile"
      (click)="openSnackBar('Đã thêm vào yêu thích', 'Đóng')"
    >
      <mat-icon>favorite</mat-icon>
      Yêu thích
    </button>
    <button mat-flat-button class="btn-mobile" (click)="read()">
      <mat-icon>book_2</mat-icon>
      Đọc
    </button>

    <p class="type-mobile">Thể loại</p>
    <div class="tags-mobile">
      <mat-chip-set aria-label="Category selection">
        @for (genre of (selectedEbook$ | async)?.categories; track $index) {
          <mat-chip class="secondary-chips">{{ genre.name }}</mat-chip>
        }
      </mat-chip-set>
    </div>
    <!--  mobile-->

    <div id="novel-body-container">
      <div class="description">
        <div id="introduce">
          <h6>Giới Thiệu</h6>
        </div>

        <div id="description-container">
          <p>
            {{ (selectedEbook$ | async)?.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
}
