:host {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.h6{
  width: 100%;
  justify-content: center;
  align-items: center;
}
#form{
  background-color: #ffff;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.color-picker{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.color-picker input{
 margin-right: 10px;
  width: 160px;
}
