
<h6 style="text-align: center;font-weight: bold; margin-bottom: 20px;" mat-dialog-title>Cài Đặt Đọc Truyện</h6>
<mat-dialog-content class="mat-typography" style="background-color: #fff; padding: 20px; color: #fff;">
  <form>
    <!-- Màu nền -->
    <mat-form-field appearance="fill" style=" width: 100%; margin-bottom: 20px;">
      <mat-label>Màu nền</mat-label>
      <mat-select>
        <mat-option value="#000000">Màu đen</mat-option>
        <mat-option value="#2b2b2b">Màu xám</mat-option>
        <mat-option value="#ffffff">Màu trắng</mat-option>
        <div class="color-picker" >
          <span style="margin-left:14px ">Chọn màu khác</span>
          <input type="color" value="#00000" />
        </div>
      </mat-select>
    </mat-form-field>

    <!-- Màu chữ -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label>Màu chữ</mat-label>
      <mat-select>
        <mat-option value="#ffffff">Màu trắng</mat-option>
        <mat-option value="#c0c0c0">Màu xám</mat-option>
        <mat-option value="#000000">Màu đen</mat-option>
        <div class="color-picker" >
          <span style="margin-left:14px ">Chọn màu khác</span>
          <input type="color" value="#00000" />
        </div>
      </mat-select>

    </mat-form-field>

    <!-- Font chữ -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label>Font chữ</mat-label>
      <mat-select>
        <mat-option value="Bookerly">Bookerly</mat-option>
        <mat-option value="Arial">Arial</mat-option>
        <mat-option value="Times New Roman">Times New Roman
        </mat-option>
        <mat-option value="Courier New">Courier New</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Cỡ chữ -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label>Cỡ chữ</mat-label>
      <mat-select>
        <mat-option value="16px">16px</mat-option>
        <mat-option value="18px">18px</mat-option>
        <mat-option value="20px">20px</mat-option>
        <mat-option value="22px">22px</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" style="padding: 20px;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  style="background-color: #f0f0f0; color: #8069bf;">Mặc định</button>
</mat-dialog-actions>

